.card-container{
    width: 100%;
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-card{
    width: 70%;
    background-color: burlywood;
    border-radius: 15px;
    display: flex;
}