.aside-bar{
    position: fixed;
    z-index: 1;
    top:60px;
    overflow: hidden;
    width:295px;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gener-container h2{
    text-align: center;
    margin: 15px 0;
    padding: 10px 80px;
    color: rgb(85, 85, 235);
}
.aside-bar p {
    padding: 28px 20px;

}
.movie-gener:hover{
    text-align: center;
    border-radius: 35px;
    background-color: white;
    color: black;
}