.container{
    margin:15px;
    width:350px;
    padding: 10px;
    background-color: wheat;
    height: 350px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 15px;
    text-align: center;
}
.container p{
    padding: 5px;
}
.container h2{
    padding: 5px;
}
.container h3{
    padding: 5px;
}
.movie-poster{
    width: 100%;
    height: 200px;
}
.mcard-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    top: 51px;
    left: 280px;
}
.more-details{
    color: rgb(41, 41, 184);
    cursor: pointer;
}