.search-bar{
    height: 35px;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 350px;
    height: 35px;
    padding: 10px 25px;
    border-radius: 21px;
    border: none;
    outline: none;
}
.search-bar button{
    width: 100px;
    height: 35px;
    margin-left: -28px;
    border-radius: 21px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(81,190,168);
}
.search-bar button:hover{
    color: black;
}
