.navbar{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgb(3,37,65);
    margin: 0;
}
.nav-sec1{
    display: flex;
    align-items: center;
}
.websiteName::first-letter{
    color: rgb(202 27 27);
}
.nav-sec1 img {
    width: 50px;
    height: 50px;
    padding: 5px;
}
.nav-sec2{
    display: flex;
}
.nav-sec2 > p {
    padding: 5px 15px;
}
.component-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
}